/* 
    Created on : 15-Mar-2016, 11:22:29
    Author     : Terry Hannant <a5119>
*/

.olControlZoomPanel div {
    background-image:url(../lib/geoexplorer/images/gray/panel/tool-sprites.gif) !important;
}

.olControlPanPanel div {
        background-image:url(../lib/geoexplorer/images/gray/panel/tool-sprites.gif) !important;
}

#titlePanel {
    background: transparent url(../image/logo_panel1.png) center no-repeat;

    height:100%;
    width:100%;
    background-color: #BFD9E7;
    background-size: contain;
} 


.map-overlay {
    display:none;
}
