/* 
    Created on : 18-Nov-2015, 15:23:59
    Author     : Terry Hannant <a5119>
*/

.invisible {
    display: none;
    visibility: hidden;
}

#header {
    background-color: rgb(78, 78, 78);
    background-image: -webkit-linear-gradient(top, rgb(1, 54, 134) 0%, rgb(78, 78, 78) 100%);
    color: rgb(59, 59, 59);
    display: block;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    height: 167.203px;
    line-height: 21px;
    word-wrap: break-word;

}

.section {
    color: rgb(59, 59, 59);
    display: block;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    height: 167.203px;
    line-height: 21px;
    margin-left: 333px;
    margin-right: 333px;
    position: relative;
    word-wrap: break-word;
    width: 960px;
}
#logo {
    float: left;
    padding: 15px 15px 15px 10px;
}

a.hlink
{
    color: rgb(255, 254, 255);
    cursor: auto;
    display: inline;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 25.494px;
    font-weight: normal;
    height: auto;
    line-height: 25.494px;
    width: auto;
    text-decoration: none;
    word-wrap: break-word;
}

span:hover {
    text-decoration: underline;

}

#name-and-slogan {
    float: left;
    padding-top: 34px;
    margin: 0 0 30px 15px;
}

#site-slogan {
    color: rgb(255, 254, 255);
    display: block;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 13.006px;
    font-style: italic;
    height: 19px;
    line-height: 19.509px;
    margin-top: 7px;
    width: 468.828px;
    word-spacing: 1.3006px;
    word-wrap: break-word;
}

#main-menu-links {
    color: rgb(104, 105, 107);
    display: block;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 13.006px;
    height: 31.2031px;
    line-height: 19.509px;
    list-style-type: disc;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 0px;
    width: 930px;
    word-wrap: break-word;

}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}