
/* - wilkinstyle.css - */
@media screen {
/* http://arctic-roos.org/portal_css/wilkinstyle.css?original=1 */
/* */
/* */
/* */
/* */
/* */
/* */
a:link,
a:visited {
color: #1e4c63;
}
a:hover {
color: #1f698c;
}
#visual-portal-wrapper {
width: auto;
margin: 0px auto 0px auto;
background: url(logobg.jpg);
height: 120px;
}
#portal-columns {
width: 94%!important;
margin: 0px auto 0px auto;
background: #FFF;
}
/* */
#portal-header {
width: auto;
margin: 0px auto 0px auto;
background: url(headmid.gif) no-repeat ;
background-position: 99% 25%;
}
#portal-logo {
margin: 10px 0px 10px 0px;
height: 100px;
padding: 0px 0px 0px 0px;
}
#portal-logo1 a{
float: left;
position: relative;
top: -17px;
left: 182px;
color: #feffb4;
text-decoration: none;
}
/* */
#portal-searchbox {
float: left;
position: absolute;
top: 133px;
padding: 0px 2px 0px 0px!important;
border-style: none solid solid solid;
border-color: #cde2a7;
}
#portal-siteactions {
background-color: transparent;
white-space: nowrap;
list-style-image: none;
list-style-type: none;
margin: 1px 0 0 0;
height: auto;
line-height: normal;
float: right;
padding: 35px 3px 3px 0;
color: white;
font-size: 14px;
}
#portal-siteactions li {
display: inline;
}
#portal-siteactions li a {
background-color: transparent;
border: none;
color: white!important;
height: auto;
padding: 0.2em;
margin-right: 0.2em;
text-decoration: none;
text-transform: lowercase;
}
#portal-siteactions li.selected a {
background-color: transparent;
color: #FFF;
border: none;
}
#portal-siteactions li a:hover {
background-color: transparent;
color: #45b2ea!important;
border: none;
}
#portal-personaltools-wrapper {
width: auto;
margin: 0px auto 0px auto;
}
#portal-personaltools {
background: transparent;
border: none;
}
#portal-breadcrumbs {
background: transparent;
border: none;
width: 758px;
margin: 0px auto 0px auto;
}
/* */
#portal-globalnav {
font-family: times;
background: url(head_back.gif);
height: 40px;
border-collapse: collapse;
list-style: none;
padding: 0;
margin: 0px 0px;
line-height: normal;
text-align: center;
}
#portal-globalnav li {
display: inline;
}
#portal-globalnav li a {
background: url(navborder1.gif) no-repeat;
border-color: #8cacbb;
border-width: 1px;
border-style: none none none none;
color: #FFF;
height: auto;
line-height: 26px;
font-size: 18px;
margin: 0px;
padding: 0px 10px 0px 10px;
text-decoration: none;
text-transform: case;
}
#portal-globalnav li a:hover {
background: url(navborder1.gif) no-repeat;
border: none;
border-bottom: none;
color: #cc9966;
}
#portal-globalnav li.selected a {
background: url(navborder1.gif) no-repeat;
border: none;
border-bottom: none;
color: #996600;
}
/* */
.portlet {
background: transparent!important;
border: none!important;
padding-bottom: 20px;
}
.portletHeader {
border-bottom: 3px solid #1e4c63;
border-top: none;
border-left: none;
border-right: none;
background: url(menubg.gif);
padding-top: 4px;
padding-left: 0px;
text-transform:inherit;
}
.portletHeader a {
font-family: times;
font-size: 18px;
text-decoration: none;
color: #1e4c63!important;
background-color: transparent !important;
}
.portletItem {
background: #FFF;
border: none;
color: inherit;
padding: 0px 0px 0px 0px;
margin: 0px 0px 0px 0px;
text-align: left;
}
#portlet-navigation-tree dt a{
background-color: inherit;
color:#000000;
}
#portlet-navigation-tree {
border: none;
}
/* */
.navTreeItem a {
border-style: none none solid none!important;
border-color: #216d91!important;
}
.navTreeItem a:hover{
background: #f6f5f5!important;
border-style: none none solid none;
border-color: #216d91;
}
/* */
#portlet-navigation-tree .navTreeItem a {
background-color: #FFF;
margin: 0px 0px 0px 0px;
padding: 6px 0px 0px 0px;
border-style: none none solid none;
border-color: #216d91;
color: #7baf1c;
}
#portlet-navigation-tree .navTreeItem a:hover {
background: none #f6f5f5;
border-style: none none solid none;
border-color: #216d91;
color: #45b2ea;
}
.navTreeCurrentItem {
border-color: #216d91;
border-style: none none solid none!important;
background-image: none !important;
background-color: #f6f5f5! important;
color: #1e4c63!important;
}
.portletFooter {
border-style: solid none none none!important;
background: transparent!important;
border-color: #1e4c63!important;
}
/* */
.ploneCalendar {
border: none;
margin: 1px 0 1em 0;
border-collapse: collapse;
border-spacing:0;
width: 100%;
}
.ploneCalendar th {
background-color: transparent;
font-weight: normal;
text-align: center;
line-height: normal;
border-bottom: 3px solid #1e4c63;
font-family: times;
font-size: 18px;
color: #1e4c63!important;
}
.ploneCalendar td {
background-color: transparent;
width: 14%;
text-align: right;
padding: 2px;
}
.ploneCalendar .weekdays td {
background-color: transparent;
border-top: none;
border-bottom: 1px solid #1e4c63;
text-align: center;
padding: 2px;
}
.ploneCalendar .event {
background-color: #dee7ec;
font-weight: bold;
}
.ploneCalendar .todayevent {
background-color: #dee7ec;
border: 2px solid #ffa500;
font-weight: bold;
}
.ploneCalendar .todaynoevent {
border-collapse: collapse;
border: 2px solid #ffa500;
}
/* */
.portletCalendar .portletHeader {
background-color: transparent;
font-weight: normal;
text-align: center;
line-height: normal;
border-bottom: 3px solid #1e4c63;
font-family: times;
font-size: 18px;
color: #1e4c63!important;
}
.portletCalendar .weekdays th {
background-color: transparent;
border-top: none;
border-bottom: 1px solid #1e4c63;
text-align: center;
padding: 2px;
font-size: 12px;
}
/* */
h2,
.documentFirstHeading {
font-size: 18px;
color: #1e4c63;
font-family: times;
border-width: 3px;
border-color: #1e4c63;
}
/* */
#portal-footer {
width: auto;
margin: 0px auto 0px auto;
border: none;
background: url(footer.gif) top no-repeat #f2f2f2;
font-size: 80%;
padding: 20px 0px 0px 0px;
color: #666;
}
/* */

}

